@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background text-gray-100;
}

.container-layout {
  @apply mx-auto max-w-layout px-4;
}

.container-header {
  @apply max-w-wrapper mx-auto px-4;
}
